@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Sandro Todesco<br />
    sandro@todesco.com<br />
    <abbr title="Phone">P:</abbr>
    0425 571 198
</address>

</address>
