@{
    ViewData["Title"] = "Guess the Animal";
}

<div>
	<p></p>
	<p>Think of an Animal in your head.</p>
	<p>Answer my question about the animal with yes or no.</p>
	<p>@ViewData["Question"]</p>
	<form>
		<input name="questionId" type="hidden" value=@ViewData["QuestionId"]></input>
        <button name="answer" value="yes">yes</button>
        <button name="answer" value="no">no</button>
	</form>
</div>
